

body{
    font-family: 'Lucida Sans', Verdana, sans-serif;
    background: linear-gradient(to bottom, rgb(0, 17, 85), rgb(0, 0, 0)) ;
    color: azure;
}
h2{
    font-size: larger;
    font-weight: bold;
}

.general{
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
header{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background: linear-gradient(to bottom, #fff700,black);
    padding: 50px 0px;
    
}
footer {
    background-color: #0d0042; 
    color: white;
    text-align: center;
    padding: 30px 0; 
    font-family: Arial, sans-serif;
    width: 100%; 
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3); 
}
footer a {
    color: #ddd;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #3f8194;
}
#referencia img{
    float: left;
    position: relative;
    clear: both;
    margin-left: 80px;
}
#relacion{
     margin-left: 40%;
}
#relacion h2{
font-weight: bold;
}
#relacion p{
   
    padding: 20px;
    font-size: medium;
    line-height: 25px;

}
nav{  list-style-type: none;
background: #007a9c;
    display: flex; 
    text-align: right;
    padding: 10px;
    
}
nav a {

    font-family: Arial, sans-serif;
    text-decoration: none;
     margin: 0px 15px;
    color: #ffffff;
}
nava:hover {
    text-decoration: underline;
    color: #ff0000;
}
.text-center .row-cols-2 .col {
    border: 0.1px solid  rgb(0, 0, 153);
    background-color: rgb(150, 145, 145);
    text-align: justify;
    color: black;
}
.text-center .row-cols-2 .titulo{
    font-weight: bold;
}
#flex .flex-column.mb-3 .p-2{
    border:0.5px solid #ff0000;
    background-color: #ff6464;
}
#flex .flex-column-reverse .p-3{
    border:0.5px solid #7ac36c;
    background-color: #20c100;
}